body {
	background: url(../images/background.png) repeat-x #c7d6d5;
	font-family: 'Roboto', sans-serif;
	color: #6d7275;
}

.header {
	background: url(../images/header.png) top left;
	height: 230px;
}

.header .logo {
	margin-top: 35px;
}

.clearfix {
	clear: both;
}

.nav {
	background: #cd191e;
	border-bottom: 4px solid #841913;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.nav > li > a {
    padding: 22px 15px;
    text-transform: uppercase;
}

.nav-pills > li.nav-right {
	float: right;
}

.nav-pills > li.open > a,
.nav-pills > li.open > a:focus,
.nav-pills > li.open > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #9e1e17;
    color: #fff;
}

.nav-pills > li > a {
    color: #fff;
    font-size: 1.1em;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #ec2f34;
}

.nav-pills > li + li {
    margin-left: 0px;
}

.content {
	padding: 20px;
	background: #fff;
}

.form-actions {
	padding: 10px 0;
    margin-top: 18px;
    /*background-color: #eeeeee;
    border-top: 1px solid #ddd;*/
}

.form-horizontal .control-label {
    padding-left: 15px;
}

@media (min-width: 992px) {
	.form-horizontal .form-actions {
		padding-left: 140px;
	}
	.form-horizontal .control-label {
	    float: left;
	    width: 140px;
	    text-align: right;
	}
	.reset-password {
		padding-left: 155px;
	}
	.confirmacao {
		padding-left: 155px;
	}
}

.form-control {
	border: 1px solid #bfbebe;
}

.form-control:focus,
.select2-container--bootstrap.select2-container--focus .select2-selection, 
.select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: #40a029;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(77, 194, 49, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(77, 194, 49, 0.6);
}

.select2-container--bootstrap .select2-dropdown {
	border-color: #40a029;
}

.panel {
    margin-bottom: 0;
}

.panel-heading {
    font-size: 1.2em;
    padding: 15px;
    border-bottom: 2px solid transparent;
}

.modal-header {
    background-color: #da251c;
    color: #fff;
	border-bottom: 4px solid #7d1510;
}

.add-first-member {
	margin-top: 7px;
	display: block;
}

ul.members {
	list-style: none;
	padding: 0;
}

ul.members li {
	height: 32px;
	padding: 5px 0;
	margin-bottom: 2px;
    border-bottom: 1px dashed #d4d4d4;
}

ul.members li .badge {
	margin-top: -12px;
}

.member-name {
    display: inline-block;
}

.help-block {
	display: inline;
}

#camiseta {
	margin-top: 4px;
}

@media(max-width: 992px) {
	.header {
		text-align: center;
	}
	.footer .col-md-6 {
		text-align: center;
		margin-bottom: 10px;
	}
	.member-name {
	    white-space: nowrap;
		max-width: 240px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
}

.footer {
	border-top: 4px solid #2a2c2b;
	padding: 5px;
}

.footer .endereco {
	margin-bottom: 0;
	font-size: 12px;
	color: #000;
}

.assinatura {
    color: #134c05;
	font-size: 12px;
}

.sidebar .block {
	margin-bottom: 20px;
	display: block;
}

.sidebar .block img {
	width: 100%;
	max-width: 336px;
}

.sidebar .block:last-child {
	margin-bottom: 0;
}

.resposta {
	margin-top: 15px;
	margin-bottom: 0;
}

.alert.alert-dark {
    color: #fff;
	border-color: #3c3c3c;
	background-color: #737373;
}

.situacao {
    font-size: 1em;
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: block;
    border-bottom: 1px dashed;
    font-weight: bold;
}

.situacao select {
	width: 150px;
}

.resumo {
	padding: 20px;
	border-top: 4px dashed #c4c3cc;
	border-bottom: 4px dashed #c4c3cc;
	background: #ecebf3;
	margin-bottom: 15px;
}

.resumo .vagas {
	margin-top: 10px;
    color: #da251c;
}

.titulo {
	color: #00a645;
	border-bottom: 1px dashed #00a645;
	padding-bottom: 10px;
}

.parceiros { margin-bottom: 40px; }
.parceiros-1 { font-size: 1.2em; }
.parceiros-2 { font-size: 1.2em; }
.parceiros-3 { font-size: 1.2em; color: #000; }

.parceiros .glyphicon {
	padding: 15px;
	background: #c7d6d5;
	border-radius: 44px;
	margin-bottom: 20px;
	font-size: 1.3em;
}

.page-title {
	margin-top: 0;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
	color: #0c120c;
}

.btn-primary {
	background-color: #6d7275;
	border-color: #404548;
}

.btn-primary:hover {
	background-color: #8e969c;
	border-color: #576069;
}

.btn-primary:active, 
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus {
	background-color: #394b45;
	border-color: #313d48;
}

.btn-primary[disabled]:hover {
	background-color: #a2adb6;
	border-color: #808b95;
}